{
    "domain": "{YOUR AUTH0 DOMAIN}",
    "clientId": "{YOUR AUTH0 CLIENT ID}",
    "audience": "{YOUR AUTH0 API_IDENTIFIER}",
    "secret": "{YOUR AUTH0 CLIENT_SECRET}",
    "management_id": "{YOUR AUTH0 MANAGEMENT_API_CLINET_ID}"
  }